// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./theme-colors";

@font-face {
  font-family: "KhmerOSBattambang";
  src: url("/fonts/KhmerOSBattambang-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "KhmerOSBattambang";
  src: url("/fonts/KhmerOSBattambang.ttf");
  font-weight: normal;
}

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: 'Roboto, "Helvetica Neue", sans-serif, KhmerOSBattambang',
      density: 0,
    )
  );
  @include mat.core-overrides(
    (
      option-label-text-line-height: 1rem,
    )
  );
  @include mat.form-field-density(-5);
  @include mat.form-field-overrides(
    (
      container-text-size: 0.9rem,
      outlined-input-text-placeholder-color: rgba(0, 0, 0, 0.45),
    )
  );
  @include mat.select-overrides(
    (
      trigger-text-size: 0.9rem
    )
  );
  @include mat.button-density(0);

  .mat-mdc-form-field-icon-prefix > .mat-icon,
  .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding: 0 2px 0 10px;
    line-height: 25px;
  }

  .mat-mdc-option {
    height: 40px;
    min-height: 40px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif, KhmerOSBattambang;
}
