$primary-color: #363795;
$grey-color:#73777B;
$top-height: 65px;
$secondary-color: #F5F5F5;
$white-color: #FFF;

$screenXS: "only screen and (max-width: 575px)";
$screenSM: "only screen and (max-width: 767px)";
$screenMD: "only screen and (max-width: 991px)";
$screenLG: 'only screen and (max-width: 1199px)';
$screenXL: "only screen and (min-width: 1200px)";


$status-color:#0DC269;
$white-color:  #FFFFFF;
$active-color: #20b823;
$inactive-color: #9C9C9C;
$pending-color: #e58616;
$returned-color: #CCC911;
$rejected-color: #dd2323;
$canceled-color: #73777B;
$draft-color: #FFCB42;


@mixin disable-select {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

@mixin no-result {
    &::after {
        content: " ";
        width: 100%;
        height: 370px;
        display: block;
        background-image: url('/assets/imgs/empty.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 370px;
    }
}